Ficha1/Hospital/node_modules/
Ficha1/Clinica/node_modules
Ficha1/AppsJava/Ficha1.iml
Ficha1/AppsJava/.idea/libraries/hapi_base_2_2.xml
Ficha1/AppsJava/.idea/libraries/joda_time_2_1.xml
Ficha1/AppsJava/.idea/libraries/mysql_connector_java_8_0_221.xml
Ficha1/AppsJava/done
Ficha1/AppsJava/error
Ficha1/AppsJava/final
Ficha2/hospital/node_modules/
Ficha2/clinica/node_modules
