extends layout

block content
  .w3-container.w3-center
    h1 Opções Iniciais
    p Hospital 
    br
    br
    a.w3-button.w3-black(href="/pedidos") Lista de Pedidos
    a.w3-button.w3-teal(href="/exames") Lista de Exames

