extends layout

block content    
      
    .w3-card-4(style="text-align:center; background-color: rgba(255, 255, 255, 0.85); margin-left: 430px; margin-right: 430px;")   
      .w3-container(style="width:70%; display:block; margin-left:auto; margin-right:auto;")
        form.w3-center(action="/inserirPedido" method="POST" enctype="application/json")
            .w3-container.w3-center(id="fileInputGroup")
            
                //.w3-half.w3-purple                          
                .w3-center
                    // Blog entry  
                    h1=p
                    p Hospital
                    h4
                        br
                        b(style="font-family: 'Foundry Gridnik Bold'; font-size: 35px; color: #F5F5F5; text-shadow: -1.2px -1.2px 0  #484848, 1.2px -1.2px 0  #484848, -1.2px 1.2px 0  #484848, 1.9px 1.9px 0  #484848;")  Inserir Pedido
                    hr
                    p
                    br
                    .b
                        p(style='color:teal;') * Campos obrigatórios
                    br
                    p
                    .div
                        labelRequiteal(for="nome") Código do Exame:
                    .div
                        input.w3-input.w3-border.w3-round.w3-form-control(requiteal type="text" id="nome" name="codExame")
                    p
                    br
                    .div
                        label(for="nome_completo") Descrição do Exame:
                    .div
                        input.w3-input.w3-border.w3-round.w3-form-control(type="text" name='descExame' id="nome_completo")
                    p
                    br
                    .div
                        label(for="nome_completo") Identificação do Paciente:
                    .div
                        input.w3-input.w3-border.w3-round.w3-form-control(type="text" name='idPaciente' id="nome_completo")
                    p
                    br
                    .div
                        label(for="nome_completo") Identificador da Consulta:
                    .div
                        input.w3-input.w3-border.w3-round.w3-form-control(type="text" name='idConsulta' id="nome_completo")
                    p
                    hr
                    .div
                        label(for="data") Data:
                    .div
                        .w3-row-padding
                            .w3-third
                              select.w3-input.w3-border(class='selectAnos' type='text' name='ano')
                                option Ano
                            .w3-third
                              select.w3-input.w3-border(class='1-12' type='text' name='mes')
                                option Mês
                            .w3-third
                              select.w3-input.w3-border(class='1-31' type='text' min='1' max ='31' name='dia')
                                option Dia
                    hr
                    p
                    hr
                    .div
                        label(for="hora") Hora:
                    .div
                        .w3-row-padding
                            .w3-third
                              select.w3-input.w3-border(class='selectHoras' type='text' name='hora')
                                option Hora
                            .w3-third
                              select.w3-input.w3-border(class='selectMinuto' type='text' name='minuto')
                                option Minuto
                    hr
                   
                    br
                    hr(style="border-top: 1px dotted #bbb; width: 100%;")
                    .w3.bottom   
                        input.w3-button.w3-padding-large.w3-teal.w3-border(type="submit" value="Enviar")
                        a.w3-button.w3-teal.w3-padding-large.w3-border(href='/pedidos') Cancelar  
                    br
                    br
    script. 
        $(function(){
            var $selectYear = $(".selectAnos");
            var currentYear = new Date().getFullYear();
            for (i=currentYear;i<=2031;i++){
                $selectYear.append($('<option></option>').val(i).html(i))
            }

            var $selectMonth = $(".1-12");
            for (i=1;i<=12;i++){
                $selectMonth.append($('<option></option>').val(i).html(i))
            }

            var $selectDay = $(".1-31");
            for (i=1;i<=31;i++){
                $selectDay.append($('<option></option>').val(i).html(i))
            }
        });
    script. 
        $(function(){
            var $selectHour = $(".selectHoras");
            for (i=0;i<=23;i++){
                $selectHour.append($('<option></option>').val(i).html(i))
            }

            var $selectMinute = $(".selectMinuto");
            console.log("olaaa")
            for (i=0;i<=59;i++){
                $selectMinute.append($('<option></option>').val(i).html(i))
            }
        });
    br      